<%- include("../partials/header") -%>

<div class="container">
<header class="jumbotron text-left">
	<h3><%= user.firstname%> Journal</h3>
	<a class="btn btn-sm btn-success" href="/user/<%= user._id%>/journal/new">Add new journal</a>
</header>

<div class="row text-center" style="display:flex; flex-wrap: wrap;">
<%  user.journals.forEach(function(journalFound){ %>
	<div class="col-md-3 col-sm-6">
		<div class="thumbnail">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title"><%= journalFound.updatedAt.toDateString() %></h5>
					<p><%= journalFound.text  %></p>
					<a href="/user/<%= user._id%>/journal/<%=journalFound._id %>/edit"  class="card-link badge badge-primary">Edit</a>
				</div>
				
			</div>  	
		</div>	
	</div>
<% }); %>
</div>





<%- include("../partials/footer") -%>

